@import url("../index.css");

.candSavedJobs .title {
  margin: 0 auto 70px;
}
.candSavedJobs .createdOn {
  padding: 5px 10px;
  background-color: var(--lightGrey);
  border-radius: 8px;
  text-wrap: nowrap;
}
