.currentJob {
    border-bottom: 1px solid #edebec;
}
.currentJob .title {
    margin: 0 auto 70px;
}
.currentJob .latestJobCard {
    margin: 0 auto;
    border: 1px solid #edebec;
    width: fit-content;
}
.currentJob .applyBtn {
    margin-left: 50px;
}
.jobDesc {
    padding-top: 0;
}
.jobDesc .jobContent {
    padding-bottom: 25px;
}
.jobDesc .jobContent .jobHeading {
    margin-bottom: 15px;
}
.companyTitle {
    margin-top: 5px;
}
.jobDesc .jobContent ul {
    list-style-type: circle;
    margin-left: 15px;
}
.jobDesc .jobContent ul li {
    margin-bottom: 5px;
}
.jobMainGrid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
    padding: 50px 0;
}
.jobMainCard {
    padding: 25px;
    align-self: start;
}
.jobMainCard h3 {
    margin-bottom: 20px;
}
.overViewList {
    margin-bottom: 10px;
    border-bottom: 1px solid #edebec;
    padding-bottom: 10px;
}
.overViewList:last-child {
    border-bottom: unset;
    padding-bottom: 0;
    margin-bottom: 0;
}